In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
income_csv = "datasets/ZipCode_Income/2019HouseholdIncome.csv"
income_df = pd.read_csv(income_csv)
income_df.head()

C:\Users\Henry\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (2,3,34,35,66,67,98,99) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,GEO_ID,NAME,S1901_C01_001E,S1901_C01_001M,S1901_C01_002E,S1901_C01_002M,S1901_C01_003E,S1901_C01_003M,S1901_C01_004E,S1901_C01_004M,...,S1901_C04_012E,S1901_C04_012M,S1901_C04_013E,S1901_C04_013M,S1901_C04_014E,S1901_C04_014M,S1901_C04_015E,S1901_C04_015M,S1901_C04_016E,S1901_C04_016M
0,id,Geographic Area Name,Estimate!!Households!!Total,Margin of Error!!Households!!Total,"Estimate!!Households!!Total!!Less than $10,000",Margin of Error!!Households!!Total!!Less than ...,"Estimate!!Households!!Total!!$10,000 to $14,999","Margin of Error!!Households!!Total!!$10,000 to...","Estimate!!Households!!Total!!$15,000 to $24,999","Margin of Error!!Households!!Total!!$15,000 to...",...,Estimate!!Nonfamily households!!Median income ...,Margin of Error!!Nonfamily households!!Median ...,Estimate!!Nonfamily households!!Mean income (d...,Margin of Error!!Nonfamily households!!Mean in...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households!!PERCENT...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households!!PERCENT...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households!!PERCENT...
1,8600000US35004,ZCTA5 35004,4624,325,4.3,2.2,1.5,1.3,6.4,3.1,...,39716,6273,46240,7397,(X),(X),(X),(X),33.2,(X)
2,8600000US35005,ZCTA5 35005,2697,242,7.0,3.1,6.8,3.1,11.8,3.3,...,24233,3545,30659,4539,(X),(X),(X),(X),42.5,(X)
3,8600000US35006,ZCTA5 35006,1018,117,7.0,4.4,2.0,1.8,11.5,5.9,...,24340,9772,66897,60437,(X),(X),(X),(X),37.8,(X)
4,8600000US35007,ZCTA5 35007,9292,431,4.3,1.4,2.2,1.1,7.2,1.9,...,40685,5827,50534,5043,(X),(X),(X),(X),29.4,(X)

In [3]:
carSales_csv = "datasets/used_car_sales.csv"
carSales_df = pd.read_csv(carSales_csv)
carSales_df.head()

,ID,pricesold,yearsold,zipcode,Mileage,Make,Model,Year,Trim,Engine,BodyType,NumCylinders,DriveType
0,137178,7500,2020,786**,84430,Ford,Mustang,1988,LX,5.0L Gas V8,Sedan,0,RWD
1,96705,15000,2019,81006,0,Replica/Kit Makes,Jaguar Beck Lister,1958,NaN,383 Fuel injected,Convertible,8,RWD
2,119660,8750,2020,33449,55000,Jaguar,XJS,1995,2+2 Cabriolet,4.0L In-Line 6 Cylinder,Convertible,6,RWD
3,80773,11600,2019,07852,97200,Ford,Mustang,1968,Stock,289 cu. in. V8,Coupe,8,RWD
4,64287,44000,2019,07728,40703,Porsche,911,2002,Turbo X-50,3.6L,Coupe,6,AWD